body {
    background-color: grey;
}

.Header {
    color: white;
    display: flex;
    font-size: 38px;
    justify-content: center;
}

.Round {
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: center;
}

.Tie {
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: center;
}

.Gameover {
    color: white;
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin-bottom: 30px;
}

.restart {
    border-radius: 12px;
    background-color: green;
    display: flex;
    justify-content: center;
    width: 150px;
}

.Player_text {
    color: white;
    display: flex;
    font-size: 28px;
    justify-content: center;
    margin-top: 10px;
}

.Computer_text {
    color: white;
    display: flex;
    font-size: 28px;
    justify-content: center;
    margin-top: 10px;
}

.PlayerScore {
    color: #4FF22E;
    display: flex;
    font-size: 28px;
    justify-content: center;
    margin-top: 10px;
}

.PlayerSelection {
    color: #4FF22E;
    display: flex;
    font-size: 28px;
    justify-content: center;
    margin-top: 10px;
}

.ComputerScore {
    color: orange;
    display: flex;
    font-size: 28px;
    justify-content: center;
    margin-top: 10px;
}

.ComputerSelection {
    color: orange;
    display: flex;
    font-size: 28px;
    justify-content: center;
    margin-top: 10px;
}

.player_boxes {
    display: flex;
    gap: 70px;
    justify-content: center;
}

.player_box {
    margin-top: 15px;
    width: 120px;
    height: 120px;
}

.computer_boxes {
    display: flex;
    font-size: 18px;
    gap: 70px;
    justify-content: center;
}

.computer_box {
    margin-top: 15px;
    width: 120px;
    height: 120px;
}

.Rock_player img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Paper_player img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Scissors_player img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Rock_computer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Paper_computer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Scissors_computer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

