body {
    background-color: grey;
}

.Header {
    color: #F2F22E;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2mm;
    display: flex;
    font-size: 58px;
    justify-content: center;
    margin-top: 30px;
}

.Player_text {
    color: #F2F22E;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2mm;
    display: flex;
    font-size: 48px;
    justify-content: center;
    margin-top: 30px;
}

.Computer_text {
    color: #F2F22E;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2mm;
    display: flex;
    font-size: 48px;
    justify-content: center;
    margin-top: 30px;
}

.PlayerScore {
    color: #4FF22E;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2mm;
    display: flex;
    font-size: 48px;
    justify-content: center;
    margin-top: 30px;
}

.PlayerSelection {
    color: #4FF22E;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2mm;
    display: flex;
    font-size: 48px;
    justify-content: center;
    margin-top: 30px;
}

.ComputerScore {
    color: #F22E69;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2mm;
    display: flex;
    font-size: 48px;
    justify-content: center;
    margin-top: 30px;
}

.ComputerSelection {
    color: #F22E69;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2mm;
    display: flex;
    font-size: 48px;
    justify-content: center;
    margin-top: 30px;
}

.player_boxes {
    display: flex;
    font-size: 18px;
    gap: 70px;
    justify-content: center;
}

.player_box {
    margin-top: 15px;
    width: 150px;
    height: 150px;
}

.computer_boxes {
    display: flex;
    font-size: 18px;
    gap: 70px;
    justify-content: center;
}

.computer_box {
    margin-top: 15px;
    width: 150px;
    height: 150px;
}

.Rock_player img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Paper_player img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Scissors_player img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Rock_computer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Paper_computer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Scissors_computer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

